        /* This is where the "how to resize" happens */
        .custom-list {
            color: white;
            width: 250px;
            /* Resizes the width of the box */
            font-size: 20px;
            /* Resizes the text */
            background-color: #59976b;
            padding: 20px;
        }

        .custom-list li {
            margin-bottom: 10px;
            /* Adds space between items */

        }

        .intro {
            color: white;
            background-color: #59976b;
            padding: 2px;
        }

        #description {
            color: white;
            border: 2px solid #000000;
            padding: 50px;
            background-color: #a9a7ce;
            margin: 50px;
            width: 110px;
        }

        .stylishtext {
            color: #7c3800;
            font-family: Verdana, Geneva, Tahoma, sans-serif font-size: 16px;
            line-height: 1.5;
            font-weight: bold;
            text-align: center;
            font-size: 24px;

        }

        .container {
            background-color: #8888af;
            display: flex;
            justify-content: space-around;
            height: 100vh;
            align-items: flex-end;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            gap: 5px;
        }

        .item {
            color: white;
            background-color: #6260be;
            border: 2px solid #000000;
            border-radius: 5px;
            padding: 10px;
            width: 150px;
        }


        .responsive-text {
            background-color: aqua;
            text-align: center;
        }


        @media (max-width: 768px) {
            .responsive-text {
                font-size: 16px;
                padding: 10px;
                color: #7c3800;
                background-color: rgb(252, 90, 238);
                text-align: start;
            }
        }